language: php

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

php:
 # Only run the lowest and highest supported versions to reduce the load on travis-ci.org.
 - 5.4
 # - 5.5
 # - 5.6
 - 7.0

matrix:
 allow_failures:
  - php: 7.0
 fast_finish: true

env:
 global:
  - MOODLE_BRANCH=MOODLE_30_STABLE
  - IGNORE_PATHS=amd/build,amd/src/bootstrap.js,amd/src/carousel.js,amd/src/fitvids.js,amd/src/jBreadCrumb.js
  # Ignore custom.css until CSSlint can be instructed to ignore lines for '[[setting:customcss]]'.
  # Also ignore generated CSS files.
  - IGNORE_NAMES=*.txt,custom.css,b*.css,e*.css,f*.css,m*.css
 matrix:
  - DB=pgsql
  - DB=mysqli

before_install:
# This disables XDebug which should speed up the build.  One reason to remove this
# line is if you are trying to generate code coverage with PHPUnit.
  - phpenv config-rm xdebug.ini
# Currently we are inside of the clone of your repository.  We move up two
# directories to build the project.
  - cd ../..
# Update Composer.
  - composer selfupdate
# Install this project into a directory called "ci".
  - composer create-project -n --no-dev moodlerooms/moodle-plugin-ci ci ^1
# Update the $PATH so scripts from this project can be called easily.
  - export PATH="$(cd ci/bin; pwd):$(cd ci/vendor/bin; pwd):$PATH"

install:
  - moodle-plugin-ci install

script:
  - moodle-plugin-ci phplint
  - moodle-plugin-ci phpcpd
  - moodle-plugin-ci phpmd
  - moodle-plugin-ci codechecker
  - moodle-plugin-ci csslint
  - moodle-plugin-ci jshint
  - moodle-plugin-ci phpunit
