body.essential-colours-alternative3 {
    border-top-color: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 a,
.essential-colours-alternative3 a:visited {
    color: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 a:hover {
    color: [[setting:alternativethemehovercolor3]];
}

.essential-colours-alternative3 .color {
    color: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 h1#title {
    color: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 #headerlogo {
    border-right-color: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 .breadcrumb-button input[type="submit"] {
    background: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 .breadcrumb-button input[type="submit"]:hover {
    background: [[setting:alternativethemehovercolor3]];
}

.essential-colours-alternative3 a.website:hover,
.essential-colours-alternative3 a.website:focus {
    background-color: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 .dropdown-menu > li > a:hover,
.essential-colours-alternative3 .dropdown-menu > li > a:focus,
.essential-colours-alternative3 .dropdown-submenu:hover > a,
.essential-colours-alternative3 .dropdown-submenu:focus > a {
    background-color: [[setting:alternativethemecolor3]];
    background-image: -moz-linear-gradient(top, [[setting:alternativethemecolor3]], [[setting:alternativethemehovercolor3]]);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from([[setting:alternativethemecolor3]]), to([[setting:alternativethemehovercolor3]]));
    background-image: -webkit-linear-gradient(top, [[setting:alternativethemecolor3]], [[setting:alternativethemehovercolor3]]);
    background-image: -o-linear-gradient(top, [[setting:alternativethemecolor3]], [[setting:alternativethemehovercolor3]]);
    background-image: linear-gradient(to bottom, [[setting:alternativethemecolor3]], [[setting:alternativethemehovercolor3]]);
}
    
.essential-colours-alternative3 .navbar-inner {
    border-top-color: [[setting:alternativethemehovercolor3]] !important;
    border-bottom: 1px solid [[setting:alternativethemehovercolor3]] !important;
    background-color: [[setting:alternativethemecolor3]] !important;
}

.essential-colours-alternative3 .navbar .nav {
    border-right-color: [[setting:alternativethemehovercolor3]];
}

.essential-colours-alternative3 .navbar .nav > li > a {
    border-left-color: [[setting:alternativethemehovercolor3]];
}

.essential-colours-alternative3 .navbar .nav > li > a:hover {
    background: [[setting:alternativethemehovercolor3]] !important;
}

.essential-colours-alternative3 .navbar .nav .active > a,
.essential-colours-alternative3 .navbar .nav .active > a:hover,
.essential-colours-alternative3 .navbar .nav .active > a:focus,
.essential-colours-alternative3 .navbar .nav li.dropdown.open > .dropdown-toggle,
.essential-colours-alternative3 .navbar .nav li.dropdown.active > .dropdown-toggle,
.essential-colours-alternative3 .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background: [[setting:alternativethemecolor3]] !important;
}

.essential-colours-alternative3 .navbar .nav > li > a {
    border-left-color: [[setting:alternativethemehovercolor3]];
}

.essential-colours-alternative3 .course-content ul.topics li.section.main.clearfix.current {
    box-shadow: 0 0 10px [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 .firstword {
    color: [[setting:alternativethemecolor3]] !important;
}
    
.essential-colours-alternative3 .forumpost .picture img {
    box-shadow: 0 0 3px [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 .forumpost .subject {
    color: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 .button a,
.essential-colours-alternative3 .button a:visited {
    background: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 a#button,
.essential-colours-alternative3 a#button:visited {
    background: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 a#button:hover {
    background: [[setting:alternativethemehovercolor3]];
}

.essential-colours-alternative3 .da-slider {
	border-top-color: [[setting:alternativethemecolor3]];
	border-bottom-color:  [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 .block .header .title h2:before {
    color: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 .block_rss_client .footer a {
    background: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 .block_rss_client .footer a:hover {
    background: [[setting:alternativethemehovercolor3]];
}

.essential-colours-alternative3 .block_login .footer a {
    background: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 .block_login .footer a:hover {
    background: [[setting:alternativethemehovercolor3]];
}

.essential-colours-alternative3 #page-site-index h2.headingblock:before {
    color: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 .service i {
    color: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 #page-footer {
    border-top-color: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 #page-footer .footnote a,
.essential-colours-alternative3 #page-footer .footnote a:visited {
    color: [[setting:alternativethemecolor3]] !important;
}

.essential-colours-alternative3 #page-footer .block_html ul li:before,
.essential-colours-alternative3 #greyboxright ul li:before {
    background: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 #page-footer .tree_item.branch:before {
    color: [[setting:alternativethemecolor3]];
}
    
.essential-colours-alternative3 #page-footer .block_login input[type="submit"] {
    background: [[setting:alternativethemecolor3]];
}
    
.essential-colours-alternative3 #page-footer .block_login input[type="submit"]:hover {
    background: [[setting:alternativethemehovercolor3]];
}
    
.essential-colours-alternative3 #page-footer .block_rss_client .content a {
    color: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 .afeature:hover {
    border-color: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 .afmatter i {
    color: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 .myprofileitem.picture:hover {
    border-color: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 .socials img:hover {
    -webkit-box-shadow: 0 0 10px 0 [[setting:alternativethemecolor3]];
    -moz-box-shadow: 0 0 10px 0 [[setting:alternativethemecolor3]];
    box-shadow: 0 0 10px 0 [[setting:alternativethemecolor3]];
}
 
.essential-colours-alternative3 .nav-tabs > li > a {
    background-color: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 .nav-tabs > li > a:hover {
    background-color: [[setting:alternativethemehovercolor3]];
}

.essential-colours-alternative3 .nav-collapse {
    border-color: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 .performanceinfo var {
    background: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 .performanceinfo h2:before {
    color: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 #page-mod-quiz-edit .questionbankwindow.block div.header {
    background: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 table#user-grades th.item,
.essential-colours-alternative3 table#user-grades th.categoryitem,
.essential-colours-alternative3 table#user-grades th.courseitem {
    border-bottom-color: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 table#user-grades td.controls,
.essential-colours-alternative3 .path-grade-report-grader table tr.avg .cell,
.essential-colours-alternative3 .path-grade-report-grader table tr.range .cell {
    background-color: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 .path-grade-report-grader table#fixed_column th {
     border-right-color: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 .back-to-top {
    color: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 .course_category_tree .category[data-categoryid]:hover {
    background: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 .course_category_tree .category[data-categoryid] > .info > .categoryname a:before {
    color: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 #dock {
    background: [[setting:alternativethemecolor3]];
}

#dock .dockedtitle {
    background-color: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 #dock .dockedtitle:hover,
.essential-colours-alternative3 #dock .dockedtitle:focus,
.essential-colours-alternative3 #dock .dockedtitle:active,
.essential-colours-alternative3 #dock .dockedtitle.active,
.essential-colours-alternative3 #dock .dockedtitle.disabled,
.essential-colours-alternative3 #dock .dockedtitle[disabled] {
    background-color: [[setting:alternativethemehovercolor3]];
}

.essential-colours-alternative3 .commands {
    color: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 .commands a:hover {
    color: [[setting:alternativethemehovercolor3]];
}

.essential-colours-alternative3 .drag-handle::before {
    color: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 .drag-handle a {
    color: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 #section_footer {
    color: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 .nav_icon {
    color: [[setting:alternativethemecolor3]];
}

.essential-colours-alternative3 .nav_icon:hover {
    color: [[setting:alternativethemehovercolor3]];
}
