/* Custom CSS
-------------------------*/
body{
	border-top:3px solid [[setting:themecolor]];
	font-family: "PT Sans", Arial, Helvetica, sans-serif;
	background: white url([[pix:theme|body-back]]) repeat;
	font-size: 13px;
	line-height: 25px;
	text-shadow: none !important;
	color: #444;
	padding-top: 0px;
}

h2.main,
#pageheading {
	font-size: 20px;
	line-height: 35px;
	color: #777;
	border-bottom: 1px solid #e1e1e1;
}

.color{
color: [[setting:themecolor]];
}

a {
	text-decoration: none;
}
a, a:visited{
color: [[setting:themecolor]];
}

a:hover{
color:[[setting:themehovercolor]];
}

.navbar {
	margin-bottom: 10px;
}

.navbar-inner{
	background: [[setting:themecolor]] !important;
	border-top:1px solid [[setting:themehovercolor]] !important;
	border-bottom:1px solid [[setting:themehovercolor]] !important;
	border-radius: 0px;
	line-height: 0px;
}

.navbar .brand {
	color: #fff;
	text-shadow: none;
	line-height: 20px;
}

.navbar .nav{
border-right:1px solid [[setting:themehovercolor]];
}

.navbar .nav > li > a{
	border-left:1px solid [[setting:themehovercolor]];
}

.navbar .nav > li > a:hover{
	background:[[setting:themehovercolor]] !important;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus,
.navbar .nav li.dropdown.open > .dropdown-toggle, 
.navbar .nav li.dropdown.active > .dropdown-toggle, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
	background: [[setting:themecolor]] !important;
	color: #fff;
}

.navbar .caret {
border-top-color: white !important;
border-bottom-color: white !important;
margin-left: 5px;
}

.navbar .nav > li > a {
	color: #fff;
	text-shadow: none;
	border-left: 1px solid [[setting:themehovercolor]];
}

.navbar .nav > li > a:hover {
	color: #fff;
}


a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.breadcrumb {
padding: 0px;
color: #555;
text-transform: uppercase;
font-size: 12px;
background: transparent;
margin: 0px;
}

.topbor {
height: 20px;
margin-bottom: 10px;
background: url([[pix:theme|dot]]) repeat-x;
}

.left.side {
	display: none;
}

.editing .left.side {
	display: inline;
}

.breadcrumb-button {
	margin-top: -4px;
}

.forumsearch input[type="text"] {
	font-size: 12px !important;
	height: 15px;
	width: 180px;
	margin-right: 10px;
}

.forumsearch input[type="submit"] {
	font-size: 12px !important;
	line-height: 15px;
}

.dir-rtl a.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Oswald", sans-serif;
	font-weight: normal !important;
	color: #666;
}

h3 {
	font-size: 20px;
	color: #888;
	line-height: 20px; 
}

a#button,
a#button-green,
a#button-red,
a#button-purple,
a#button-orange,
a#button-black,
a#button-grey {
margin:10px 0px;
}

a#button, 
a#button:visited,
a#button-green,
a#button-green:visited,
a#button-red,
a#button-red:visited,
a#button-orange,
a#button-orange:visited,
a#button-purple,
a#button-purple:visited,
a#button-black,
a#button-black:visited,
a#button-grey,
a#button-grey:visited {
color:#fff;
width:100px;
padding:6px 15px;
font-size:14px;
border-radius:5px;
}

a#button:hover,
a#button-red:hover,
a#button-green:hover,
a#button-purple:hover,
a#button-orange:hover,
a#button-black:hover,
a#button-grey:hover{
color:#fff;
text-decoration:none;
}

a#button-red, 
a#button-red:visited {
background:#ff3300;
}

a#button-red:hover {
background:#cc3300;
}

a#button-green, 
a#button-green:visited {
background:#33cc00;
}

a#button-green:hover {
background:#009933;
}

a#button-purple, 
a#button-purple:visited {
background:#cc33cc;
}

a#button-purple:hover {
background:#993399;
}

a#button-orange, 
a#button-orange:visited {
background:#ff9900;
}

a#button-orange:hover {
background:#eb6909;
}

a#button-black, 
a#button-black:visited {
background:#000;
}

a#button-black:hover {
background:#666;
}

a#button-grey, 
a#button-grey:visited {
background:#666;
}

a#button-grey:hover {
background:#000;
}

a#button, 
a#button:visited {
background:[[setting:themecolor]];
}

a#button:hover {
background:[[setting:themehovercolor]];
}

table#greyboxright {
background: #F9F9F9;
border: 1px solid #EEE;
border-bottom: 3px solid #EEE;
border-radius: 10px !important;
margin-left: 20px;
float: right;
}
table#greybox {
background: #F9F9F9;
border: 1px solid #EEE;
border-bottom: 3px solid #EEE;
border-radius: 10px !important;
margin-top: 30px;
}

table#greyboxleft {
background: #F9F9F9;
border: 1px solid #EEE;
border-bottom: 3px solid #EEE;
border-radius: 10px !important;
margin-right: 20px;
float: left;
}

table#greyboxright td,
table#greyboxleft td {
	padding: 10px;
	padding-top: 0px;
	max-width: 360px;
}

table#greybox td{
	padding: 20px;
}

table#greyboxright h2,
table#greyboxleft h2 {
	border-bottom: 1px solid #EEE;
	padding-bottom: 8px;
	font-size: 18px;
	line-height: 17px;
}

.cbig {
font-size: 23px;
color: #555;
}

.csmall {
font-size: 15px;
color: #444;
}

.services{
margin:20px 0px;
}

.service{
background:#fff;
padding:3px 10px;
border:1px solid #e7e7e7;
margin-bottom:10px;
border-radius:5px;
border-bottom:3px solid #eee;
}

.service h5{
padding:3px 0px 8px 0px;
margin:3px 0px 4px 0px;
border-bottom:1px solid #f1f1f1;
}

.service i{
font-size:20px;
margin-top:3px;
margin-right:8px;
color: [[setting:themecolor]];
}


#page-footer {
	background: #222 url([[pix:theme|fback]]) repeat;
	margin-top: 20px;
	font-size: 13px;
	padding-top: 10px;
	color: #DDD;
	border-top: 3px solid [[setting:themecolor]];
}

.helplink {
	float: right;
}

.helplink a {
	color: orange !important;
}

#page-footer .container {
margin-right: auto;
margin-left: auto;
}

#page-footer hr {
border-top: 1px solid #333;
padding: 0px;
border-bottom: 1px solid #111;
margin-top: -10px;
}

#page-footer h4 {
font-size: 15px;
padding-bottom: 6px;
border-bottom: 1px solid #313131;
margin-bottom: 4px;
color: #CCC;
}

#page-footer ul,
#greyboxright ul {
list-style-type: none !important;
margin: 0px;
margin-top: -10px;
margin-bottom: 10px;
}

#page-footer ul li,
#greyboxright ul li {
padding: 4px 0px;
padding-left: 0px;
}

#page-footer a {
	color: #BBB;
}

#page-footer ul li:before,
#greyboxright ul li:before {
	content:"\f105";
	display: inline-block;
	font-family: FontAwesome;
	font-size: .8em;
	margin-right: .5em;
	color: #fff;
	background: [[setting:themecolor]];
	width: 8px;
	height: 13px;
	padding-left: 5px;
	line-height: 14px;
	border-radius: 250px;
}




.span12#move {
	margin-top: -30px;
}

#region-main {
	padding-right: 10px;
}

.course-content ul li.section.main {
	border-bottom: 0px none;
	background: url([[pix:theme|dot]]) bottom repeat-x;
}

#page-header {
	padding: 25px 0px 0px 0px;
	border-bottom: 1px solid #DDD;
	background: url([[pix:theme|header-back]]) repeat;
}

h2.pagetitle {
padding: 0px;
margin: 0px;
font-size: 20px;
line-height: 35px;
color: #777;
background: url([[pix:theme|dot]]) left center repeat-x;
background-size: 4px 20px;
}

h2.pagetitle span {
background: white url([[pix:theme|body-back]]) repeat;
padding-right: 8px;
}

.firstword {
	color: [[setting:themecolor]] !important;
	margin-right: -5px;
}


.container-fluid {
	max-width: 1200px;
}

.label, .badge {
	font-weight: normal;
	background: transparent;
}

.sitetopic .section .activity:hover, .course-content .section .activity:hover {
	background: none;
}

.bor {
height: 20px;
margin: 0px;
margin-bottom: 20px;
background: url([[pix:theme|dot]]) repeat-x;
}

#adspots {
	margin-top: 10px;
	margin-bottom: 10px;
}

.sponsors {
	padding: 10px;
	text-align: center;
	background: #FAFAFA;
	border: 1px solid #EEE;
	border-radius: 5px;
	margin-top: -10px;
}

.sponsors h4 {
	text-align: left;
	padding-bottom: 8px;
	margin-bottom: 8px;
	border-bottom: 1px solid #EEE;
	margin-top: 0px;
}

.sponsors img {
max-width: 120px;
margin: 10px 14px;
}

.button {
margin: 10px 0px;
}

.button a, .button a:visited {
background: [[setting:themecolor]];
border-bottom: 2px solid #29A1C4;
width: 100px;
padding: 6px 15px;
border-radius: 5px;
}

.logininfo,
.logininfo a {
	color: #fff !important;
}

.side-pre {
	border: 1px solid #333;
}

.afeature {
width:190px;
height:190px;
margin:10px auto;
background:#eee url([[pix:theme|header-back]]) repeat;
border-radius:250px;
border:5px solid #fff;
box-shadow:0px 0px 3px #aaa;
text-align:center;
-webkit-transition:border 1s ease;
-moz-transition:border 1s ease;
-o-transition:border 1s ease;
transition:border 1s ease;
}

.afeature:hover{
-webkit-transition:border 1s ease;
-moz-transition:border 1s ease;
-o-transition:border 1s ease;
transition:border 1s ease;
border:5px solid [[setting:themecolor]];
}

.afmatter{
width:80%;
margin:10px auto;
padding-top:15px;
line-height:19px;
font-size:13px;
color:#666;
}

.afmatter i{
font-size:40px;
width:40px;
margin-bottom:12px;
color: [[setting:themecolor]];
}

.span3 {
width: 220px;
}

.myprofileitem.picture {
width:100px;
height:100px;
margin:10px auto;
background:#eee url([[pix:theme|header-back]]) repeat;
border-radius:250px;
border:5px solid #fff;
box-shadow:0px 0px 3px #aaa;
text-align:center;
-webkit-transition:border 1s ease;
-moz-transition:border 1s ease;
-o-transition:border 1s ease;
transition:border 1s ease;
}

.myprofileitem.picture:hover{
-webkit-transition:border 1s ease;
-moz-transition:border 1s ease;
-o-transition:border 1s ease;
transition:border 1s ease;
border:5px solid [[setting:themecolor]];
}

img.profilepicture
{
width:120px;
height:120px;
border-radius:250px;
}

.forumheaderlist .picture img {
	border-radius:250px;
	margin-right: 10px;
}

.forumpost,
.forumheaderlist {
	background: #fff;
	border-radius: 10px;
	border: 1px solid #E1E1E1 !important;
	padding: 10px;
}

.forumheaderlist td {
	padding: 5px;
}

.forumpost .picture img {
	border-radius:250px;
	box-shadow:0px 0px 3px #29A1C4;
	margin-right: 10px;
}

.forumpost .content .posting {
	border-top: 1px dotted #ccc;
	padding-top: 10px;
}

.forumpost .subject {
	font-weight: normal;
	font-family: "Oswald", sans-serif;
	color: [[setting:themecolor]];
	font-size: 1.2em;
	margin-bottom: -5px;

}

/* @group Blocks */


.block {
	background: white;
	padding: 8px;
	border-radius: 8px;
	border: 1px solid #E1E1E1;
	margin-bottom: 10px;
}

.hidden-blocks {
	background: #ffe1e1;
	padding: 10px;
	border: 1px solid #EEE;
	border-radius: 5px;
	margin: 10px 0px 10px 0px;
}

.hidden-blocks h4 {
	text-align: left;
	padding-bottom: 8px;
	margin-bottom: 8px;
	border-bottom: 1px solid #ccc;
	margin-top: 0px;
	color: #ff6666;
}

.hidden-blocks .block {
	float: right;
	min-width: 200px;
	margin-left: 10px;
}


.block .header .title h2,
.block h3.main {
	font-size: 14px;
	color: #888;
	line-height: 26px;
	margin-bottom: 5px;
	text-transform: uppercase;
	font-weight: normal;
	padding: 0px;
}

.block .header .title h2:before {
	font-family: FontAwesome;
	font-size: 1.65em;
	margin-right: .3em;
	color: [[setting:themecolor]];
	content: "\f0c9";
}

#page-footer .block .header .title h2:before {
	display: none;
}

.block .header .title {
	border-bottom: 1px solid #EEE;
	padding-left: 0px;
}

.block_quiz_results {
text-align: left;
}

/* @group Block Icons */

.block_news_items .header .title h2:before {
	content:"\f0a1";
}

.block_navigation .header .title h2:before {
	content:"\f0e8";
}

.block_calendar_upcoming .header .title h2:before,
.block_calendar_month .header .title h2:before {
	content:"\f073";
}

.block_course_list .header .title h2:before {
	content:"\f108";
}

.block_completionstatus .header .title h2:before,
.block_selfcompletion .header .title h2:before {
	content:"\f0e4";
}

.block_rss_client .header .title h2:before {
	content:"\f09e";
}

.block_blog_menu .header .title h2:before {
	content:"\f14b";
}

.block_quiz_results .header .title h2:before {
	content:"\f080";
}

.block_quiz_navblock .header .title h2:before {
	content:"\f126";
}

.block_glossary_random .header .title h2:before {
	content:"\f0eb";
}

.block_book_toc .header .title h2:before {
	content:"\f02d";
}


.block_participants .header .title h2:before,
.block_online_users .header .title h2:before {
	content:"\f0c0";
}

.block_html .header .title h2:before {
	content:"\f022";
}

.block_section_links .header .title h2:before {
	content:"\f02e";
}

.block_activity_modules .header .title h2:before {
	content:"\f12e";
}

.block_comments .header .title h2:before {
	content:"\f075";
}

.block_settings .header .title h2:before,
.block_admin_bookmarks .header .title h2:before{
	content:"\f085";
}

.block_blog_tags .header .title h2:before,
.block_tags .header .title h2:before {
	content:"\f02c";
}

.block_private_files .header .title h2:before {
	content:"\f114";
}

.block_block_mentees .header .title h2:before {
	content:"\f0c0";
}

.block_messages .header .title h2:before {
	content:"\f0e0";
}

.block_community .header .title h2:before {
	content:"\f0ac";
}	

.block_login .header .title h2:before {
	content:"\f007";
}

.block_recent_activity .header .title h2:before {
	content:"\f069";
}

.block_search_forums .header .title h2:before {
	content:"\f0e6";
}

.block_myprofile .header .title h2:before {
	content:"\f007";
}

.block_adminblock .header .title h2:before {
	content:"\f009";
}

.block_feedback .header .title h2:before {
	content:"\f087";
}

.block_flickr .header .title h2:before {
	content:"\f03e";
}

.block_youtube .header .title h2:before {
	content:"\f145";
}

.block_course_badges .header .title h2:before {
	content:"\f091";
}

.block_twitter_search .header .title h2:before {
	content:"\f099";
}



/* @end */

/* @end */

.socials p {
	font-weight: normal;
	color: #666;
	font-size: 1.1em;
	font-family: "Oswald", sans-serif;
}


.socials a {
    display: block;
    font-family: FontAwesome;
    color: #bbb;
    font-size: 2.5em;
    line-height: 25px;
    padding-left: 5px;
    text-decoration: none;
}

.socials a:hover {
	color: [[setting:themecolor]];
}
.socials li {
    text-align: right;
    display: inline-block;
}

ul.socials {
	float: right;
	margin-top: 10px;
	text-align: center;
}

.socials .twitter::before {
    content:"\f081";
}
.socials .facebook::before {
    content:"\f082";
}
.socials .googleplus::before {
    content:"\f0d4";
}
.socials .linkedin::before {
    content:"\f08c";
}

#page-footer .block {
	border: 0px none;
	background: transparent;
}

#page-footer .block .header .title h2:before {
	background: transparent;
	padding-left: 0px;
	font-size: 15px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	color: #CCC;
	text-transform: none;
	font-weight: normal;
}

#page-footer .block .header .block_action {
	display: none !important;
}

#page-footer .block .header .title {
	border-bottom: 1px solid #313131;
}

#page-footer .span4 {
width: 300px;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
