/* @group Edit Buttons */

.editing_update {
	border-left: 2px solid #999;
	padding-left: 7px !important;
}

.editing_duplicate {
	padding-right: 7px !important;
}

.editing_delete {
	border-right: 2px solid #999;
	border-left: 2px solid #999;
	padding-right: 7px !important;
	padding-left: 7px;
	padding-right: 7px;
}

.commands {
	font-family: FontAwesome;
	color: [[setting:themecolor]];
	font-size: 1.1em;
}

.commands img {
	display: none;
}

#page-mod-glossary-view .commands img,
#page-calendar-view .commands img {
	display: inline;
}

.commands a {
	padding-right: 5px;
}

.commands a:hover {
	text-decoration: none;
	color: [[setting:themehovercolor]];
}

.editing_delete::before {
	content: "\f00d ";
	color: red;
}

.editing_hide,
.editing_show {
	padding-left: 7px;
}

.editing_move {
	padding-right: 7px !important;
}

.editing_move:hover {
	cursor:move;
}

.editing_move::before {
	content: "\f047 ";
}

.editing_moveright::before {
	content: "\f061 ";
}

.editing_moveleft::before {
	content: "\f060 ";
}

.editing_update::before,
.editing_edit::before {
	content: "\f013 ";
}

.editing_duplicate::before {
	content: "\f0c5 ";
	padding-right: 5px;
}

.editing_title img {
	display: none !important;
}

.editing_title::before {
	content: "\f040 ";
}

.editing_hide::before {
	content: "\f06e ";
}

.editing_show::before {
	content: "\f070 ";
}

.editing_assign::before,
.editing_roles::before {
	content: "\f084 ";
}

.editing_groupsnone::before {
	content: "\f007 ";
}

.editing_groupsvisible::before {
	content: "\f0c0 ";
}

.editing_groupsseparate::before {
	content: "\f0c0 ";
}

/* @end */