/* @group Buttons */

.btn-success,
.btn-warning,
.btn-info,
.btn-danger {
    color: #fff !important;
}

.button {
    margin: 10px 0px;
    a {
        border-bottom: 2px solid #29A1C4;
        width: 100px;
        padding: 2px 5px;
        border-radius: 5px;
        color: #eee; // TODO: A setting?
        &:visited, &:hover {
            color: #fff; // TODO: A setting?
        }
    }
}

a#button,
a#button-green,
a#button-red,
a#button-purple,
a#button-orange,
a#button-black,
a#button-grey {
    margin:10px 0px;
}

a#button,
a#button:visited,
a#button-green,
a#button-green:visited,
a#button-red,
a#button-red:visited,
a#button-orange,
a#button-orange:visited,
a#button-purple,
a#button-purple:visited,
a#button-black,
a#button-black:visited,
a#button-grey,
a#button-grey:visited {
    color:#fff;
    width:100px;
    padding:6px 15px;
    font-size: 1em;
    border-radius:5px;
}

a#button:hover,
a#button-red:hover,
a#button-green:hover,
a#button-purple:hover,
a#button-orange:hover,
a#button-black:hover,
a#button-grey:hover{
    color:#fff;
    text-decoration:none;
}

a#button-red,
a#button-red:visited {
    background:#ff3300;
}

a#button-red:hover {
    background:#cc3300;
}

a#button-green,
a#button-green:visited {
    background:#33cc00;
}

a#button-green:hover {
    background:#009933;
}

a#button-purple,
a#button-purple:visited {
    background:#cc33cc;
}

a#button-purple:hover {
    background:#993399;
}

a#button-orange,
a#button-orange:visited {
    background:#ff9900;
}

a#button-orange:hover {
    background:#eb6909;
}

a#button-black,
a#button-black:visited {
    background:#000;
}

a#button-black:hover {
    background:#666;
}

a#button-grey,
a#button-grey:visited {
    background:#666;
}

a#button-grey:hover {
    background:#000;
}

/* @end */