/* @group Course */

.course-content ul li.section.main {
    border-bottom: 0px none;
}

#course-category-listings .item-actions.show .menu a {
  padding: 0px 5px;
}

div.mdl-align.title {
    text-align: left;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 15px;
}

.course-content ul.topics li.section.main.clearfix.current {
    border-radius: 5px;
}

.listitem-category {
  .icon {
    margin-right: 5px;
    margin-left: 3px;
    color: @icon-colour;
  }
}

/* @group Course Footer */

#section_footer {
    padding:2em 0;
    color: ~"[[setting:themetextcolor]]";
    line-height:1.5;
    clear:both;

    a {
        font-style:normal;
        text-decoration:none;
    }
}

#previous_section, #next_section {
    width:48%;
    display:block;
}

#next_section {
    text-align:right;
    float:right;
    .nav_icon {
        float: right;
        margin-left:0.3em;
        border-left:1px solid #eee;
        font-size:2em;
    }

    .text {
        width: 74.05%;
        float:right;
    }
}

#previous_section {
    float: left;
    text-align: left;

    .nav_icon {
        float: left;
        margin-right: 0.3em;
        border-right: 1px solid #eee;
        font-size: 2em;
    }

    .text {
        width: 74.05%;
        float:left;
    }
}

.nav_guide {
letter-spacing:0.1em;
    text-transform:uppercase;
    font-style:normal;
    color:#e4a82a;
}

.nav_icon {
    color: ~"[[setting:themecolor]]";
    padding:0.3em;
    width:8.3%;
    text-align:center;
    &:hover {
        color: ~"[[setting:themehovercolor]]";
    }
}

/* @end */

/* @end */