/* @group Edit Buttons */

.commands {
    font-family: FontAwesome;
    font-size: 1.1em;
}

.commands img {
    display: none;
}

#page-mod-glossary-view .commands img,
#page-calendar-view .commands img {
    display: inline;
}

.commands a {
}

.commands a:hover {
    text-decoration: none;
}

.editing_delete:before {
    font-family: 'FontAwesome';
    content:"\f00d ";
    color: red;
    padding-right: 5px;
}

.editing_hide,
.editing_show,
.editing_move,
.editing_groupsnone,
.editing_groupsvisible,
.editing_groupsseperate {
    padding-right: 10px !important;
}

.editing_move:hover {
    cursor:move;
}

.editing_move:before {
    font-family: 'FontAwesome';
    content:"\f047 ";
}

.editing_move img {
    display: none;
}

.editing_moveright:before {
    font-family: 'FontAwesome';
    content:"\f061 ";
    margin-right: 5px;
}

.editing_moveleft:before {
    font-family: 'FontAwesome';
    content:"\f060 ";
    padding-right: 5px;
}

.moodle-actionmenu ul .editing_moveright:before,
.moodle-actionmenu ul .editing_moveleft:before {
    content: none;
}

.section-modchooser-link img {
    display: none;
}

.section-modchooser-link .section-modchooser-text:before {
    font-family: 'FontAwesome';
    content:"\f067 ";
    padding-right: 5px;
}

.section-modchooser-link .section-modchooser-text a:hover {
    text-decoration: none;
}

.editing_update:before,
.editing_edit:before {
    font-family: 'FontAwesome';
    content:"\f013 ";
    padding-right: 5px;
}

.editing_duplicate:before {
    font-family: 'FontAwesome';
    content:"\f0c5 ";
    padding-right: 5px;
}

.editing_title img {
    display: none !important;
}

.editing_title:before {
    font-family: 'FontAwesome';
    content:"\f040 ";
    padding-right: 5px;
}

.editing_hide:before {
    font-family: 'FontAwesome';
    content:"\f06e ";
    padding-right: 5px;
}

.editing_show:before {
    font-family: 'FontAwesome';
    content:"\f070 ";
}

.editing_assign:before,
.editing_roles:before {
    font-family: 'FontAwesome';
    content:"\f084 ";
    padding-right: 5px;
}

.editing_groupsnone:before {
    font-family: 'FontAwesome';
    content:"\f007 ";
}

.editing_groupsvisible:before {
    font-family: 'FontAwesome';
    content:"\f0c0 ";
}

.editing_groupsseparate:before {
    font-family: 'FontAwesome';
    content:"\f0c0 ";
}

.toggle-display:before {
    font-family: 'FontAwesome';
    content:"\f085 ";
    margin-right: 5px;
}

.action-moveup:before {
    font-family: 'FontAwesome';
    content:"\f062 ";
    margin-right: 5px;
}

.action-movedown:before {
    font-family: 'FontAwesome';
    content:"\f063 ";
    margin-right: 5px;
}

.action-hide:before {
    font-family: 'FontAwesome';
    content:"\f06e ";
    margin-right: 5px;
}

.action-show:before {
    font-family: 'FontAwesome';
    content:"\f070 ";
    margin-right: 5px;
}

.action-delete:before {
    font-family: 'FontAwesome';
    content:"\f00d ";
    margin-right: 5px;
}

.action-edit:before {
    font-family: 'FontAwesome';
    content:"\f013 ";
    margin-right: 5px;
}

.moodle-core-dragdrop-draghandle:before {
    font-family: 'FontAwesome';
    content:"\f047 ";
    margin-right: 5px;
    cursor: move;
}

.course-content .section .moodle-core-dragdrop-draghandle:before {
    font-family: 'FontAwesome';
    content:"\f07d ";
    margin-right: 5px;
    cursor: move;
}

.section .summary a:before {
    font-family: 'FontAwesome';
    content:"\f085 ";
    margin-right: 5px;
}

.moodle-actionmenu.show[data-enhanced] .menu a {
    padding: 2px 1em;
}
    
.moodle-actionmenu.show[data-enhanced] .menu a i {
    margin-right: 5px;
}

.toggle-display img,
.action-moveup img,
.action-movedown img,
.action-hide img,
.action-show img,
.action-delete img,
.action-edit img,
.drag-handle img,
.section-handle img,
.section .summary a .iconsmall {
    display: none;
}

/* @end */