/* @group Blocks */

.block {
  .menu {
    a.menu-action {
      color: ~"[[setting:themeurlcolor]]";
    }
    a.menu-action:hover {
      color: ~"[[setting:themehovercolor]]";
    }
  }
}

.block .header .title h2,
.block h3.main {
  color: ~"[[setting:themetextcolor]]";
}

/* @end */
